<h2>Search Locality</h2>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Search</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
      <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
    </div>
 
   
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <div></div>



<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.x"
        [longitude]="marker.y"
        [opacity]="marker.alpha"
        [markerDraggable]="true"
      ></agm-marker>
</agm-map>

